{% macro pagination(pager, t, compact=false, always=false) %}
{% if pager and (pager.previous or pager.next or always) %}
<nav aria-label="{{ t.pagination }}" class="{{ '' if compact else 'mt-3' }}">
  <ul class="pagination justify-content-between align-items-center mb-0">
    <li class="page-item {{ '' if pager.previous else 'disabled' }}">{% if pager.previous %}<a class="page-link" href="{{ pager.previous }}">{{ t.previous_page }}</a>{% else %}<span class="page-link">{{ t.previous_page }}</span>{% endif %}</li>
    <li class="page-item disabled"><span class="page-link">{{ t.page_number.format(page=pager.page) }}</span></li>
    <li class="page-item {{ '' if pager.next else 'disabled' }}">{% if pager.next %}<a class="page-link" href="{{ pager.next }}">{{ t.next_page }}</a>{% else %}<span class="page-link">{{ t.next_page }}</span>{% endif %}</li>
  </ul>
</nav>
{% endif %}
{% endmacro %}
